.students-table{
	margin: 0 auto;
}
.students-table td {
	border: 1px solid black;
	padding: 5px;
}
.students-table th{
	border: 2px solid black;
}
.table-wrapper{
	margin: 0 auto;
	text-align: center;
}
.modal-form{
	width: 200px;
	height: 260px;
	padding: 10px;
	border: 1px solid #ccc;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 50px;
	left: calc(50% - 100px);
	background: #fff;

}
.modal-form input {
	width: 100%;
	margin: 0 0 10px 0;
}
.modal-form select {
	margin:  0 0 10px 0;
}
.modal-form input[readonly] {
	background: yellow;
}
.modal-form button{
	margin: 0 0 10px 0;
}
.confirm-modal{
	position: fixed;
	width: 100px;
	height: 120px;
	top: 100px;
	left: calc(50% - 50px);
	background: #fff;
	z-index: 9999;
	font: 12px/1 Arial,sans-serif;
	border: 1px solid #ccc;
	text-align: center;
}
